.header {
  display: flex;
  padding: 32px 0;
  &__logo {
    max-width: 110px;
    height: auto;
    display: block;
    margin-right: 32px;
  }
  &__phone {
    display: flex!important;
    align-items: center;
  }
  &__phone_icon {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__btn {
    color: $light!important;
    transition: .35s;
    background: $default;
    padding: 16px!important;
    border-radius: 55px!important;
    display: block;
    &:hover {
      background: $default_d3;
      transition: .35s;
    }
  }
}

@media (min-width: 1220.5px) {
  .main-nav {
    display: flex;
    align-items: center;
  }

  .sm-clean {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
      display: none;
    }
  }

}
.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}
.main-menu-btn {
  float: right;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: $dark;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 1220.5px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: flex;
  }
}
@media screen and (max-width: 1220.5px) {
  .sm-clean {
    top: 16px;
    li {
      &:nth-child(6) {
        width: fit-content;
        margin: 0 auto 16px;
        border-top: none;
        a {
          padding: 13px 0;
        }
      }
      &:last-child {
        width: fit-content;
        margin: 0 auto;
        border-top: none;
      }
    }
  }
}